.cart-page {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

.cart-page h1 {
    margin-bottom: 30px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart-product img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.cart-table input {
    width: 60px;
    padding: 5px;
}

.remove-btn {
    color: red;
    text-decoration: none;
    font-size: 18px;
}

.cart-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cart-actions button,
.checkout-btn {
    padding: 12px 22px;
    background: #111827;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.checkout-btn {
    background: #f35d06;
}

.grand-total {
    margin-top: 20px;
    text-align: right;
}
